*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#3b3b4f;
}
.add{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px;
    padding: 10px;
}
input{
    background-color: inherit;
    color:white;
    border:none;
    border-bottom:1px solid #BFD2FF;
    line-height: 2rem;
    vertical-align: middle;
}
button{
    background-color: inherit;
    color:white;
    border:none;
  /* font-size: 2.4rem; */
  line-height: 2rem;
  vertical-align: middle;
  transition: color .25s;
  width:5%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width:80%;
    margin:30px auto;
    box-shadow: 0px 1px 38px 8px rgba(128,116,128,1);
    flex-flow: row;
}
.subcontainer{
    display:flex;
    flex:1;
    flex-flow: column;
    margin: 30px;
    height:100%;
    width:30%;
    border:1px solid white;
    border-radius: 5px;
    transition: all 0.2s linear;
    min-width:50px ;
}
.header{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 90%; 
    width:100%;
    height:2rem;
    background-color: cornflowerblue;
    color:white;
    border-radius: 5px;
    min-width:40px ;

}
.item{
    background-color: silver;
    margin: 5%;
    padding:8px;
    flex:1;
    text-align: center;
    min-width:40px ;
}
